{{#each singleBlogPost}}
<div class="card">
 <a id="{{id}}"><div class="card-header createComment">
  <span>Title: </span> {{title}}
  </div></a>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label" style ="margin-left:1em">Comment:</label>
    <textarea type="text" class="form-control" id="post-comment"
      placeholder="Add comment"></textarea>
  </div>
  <a>
    <h3 class="createCommentBtn">SUBMIT<h3>
  </a>

  </div>
    {{/each}}
    <script src="./js/createComment.js"></script> 
  
