{{#each users}}
<div class="card">
 <div id="{{id}}"><div class="card-header">
  <span>Title: </span> {{title}}
  </div></div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><span>Content: </span>{{content}}</p>
      <footer class="blockquote-footer">Creation Date: <cite title="Source Title">{{createdDate}}</cite></footer>
    </blockquote>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="click title to update or delete post"><i class='fas fa-edit updatePost' style="font-size:17px; color:goldenrod"></i></a>
  </div>
</div>
 {{/each}}

<div class="d-grid gap-2 col-6 mx-auto createBtn fixed-bottom">
  <button class="btn btn-primary createBtn" type="button">NEW POST</button>
</div>
