{{#each singleBlogPost}}
<div class="card">
 <a id="{{id}}"><div class="card-header updatePost">
   {{title}}
  </div></a>
  <div class="card-body">
    <label for="formGroupExampleInput2" class="form-label">Comment</label>
    <p type="text" class="form-control" id="post-content"
      placeholder="Another input placeholder"></p>
  </div>
</div>
 {{/each}}
{{!-- 
 displays blog plus comments  --}}