{{#each blogs}}
<div class="card">
   <a id="{{id}}"><div class="card-header commentPost">
   {{title}}
  </div></a>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{content}}</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
 {{/each}}


