<div class="container post">
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Title</label>
  <input type="text" class="form-control" id="post-title" placeholder="Example input placeholder">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Content</label>
  <input type="text" class="form-control" id="post-content" placeholder="Another input placeholder">
</div>
  <a><h3 class="postBtn">CREATE</h3></a>
<div>