 .post{
    border: solid cadetblue;
    margin-top: 3em;

 }

 
 .updateBtn,.deleteBtn, .createCommentBtn {
    border: solid;
    text-align: center;
    background-color: burlywood;
    color: whitesmoke;

 }

 .createButton {
     margin-top:26em;
     text-align:center;


 }

 #formHomePageContainer{
     margin-top:4em
 }

 a {
     cursor: grab;
}
 
.containerMarginTop{
    margin-top: 1em;
}

.card-header{
    Background-color: #dee2e6
}

span,label{
    font-weight: bold;
}

.blockquote{
    font-size: 17px
}