 .post{
    border: solid cadetblue;
    margin-top: 3em;

 }

 
 .updateBtn,.deleteBtn {
    border: solid;
    text-align: center;
    background-color: burlywood;
    color: whitesmoke;

 }

 .createButton {
     margin-top:26em;
     text-align:center;


 }

 #formHomePageContainer{
     margin-top:4em
 }

 